//-------Journey Fare Calculation Config---------
1_1_P=30
1_1_O=25
1_2_P=35
1_2_O=30
2_1_P=35
2_1_O=30
2_2_P=25
2_2_O=20
//-------Day Cap Config---------
DayCap_1_1=100
DayCap_1_2=120
DayCap_2_1=120
DayCap_2_2=80
//-------Week Cap Config---------
WeekCap_1_1=500
WeekCap_1_2=620
WeekCap_2_1=600
WeekCap_2_2=400
//-------Peek Time Config---------
WeekDayMorningPeakTimeStart=07:00:00
WeekDayMorningPeakTimeEnd=10:30:00
WeekDayEveningPeakTimeStart=17:00:00
WeekDayEveningPeakTimeEnd=20:00:00
WeekEndMorningPeakTimeStart=09:00:00
WeekEndMorningPeakTimeEnd=11:00:00
WeekEndEveningPeakTimeStart=18:00:00
WeekEndEveningPeakTimeEnd=22:00:00
